# Django
DEBUG=0
SECRET_KEY=change_me

# PostgreSQL
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=tasktable_prod
SQL_USER=tasktable
SQL_PASSWORD=tasktable
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres

# RabbitMQ
RABBIT_HOST=rabbitmq
RABBIT_PORT=5672

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Sending email
EMAIL_HOST_USER=None
EMAIL_HOST_PASSWORD=None
# In your Google Account, the function for "Less secure apps" must be enabled in the "Security" tab.
# You may also need to go to the https://accounts.google.com/DisplayUnlockCaptcha and follow the instructions that appear.
